@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.welcome-back-course{
    height: 100vh;
    width: 100%;
    background: #9DCCFF;
}

.welcome-back-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    
}
.welcome-back-container-left{  
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    text-align: left;
    color: #252641;
}

.welcome-back-container-right{
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: right;
    color: #49BBBD;

}

.welcome-back-course-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}

.square-container{
    width: 50vh;
    height: 50vh;
    position: relative;
    background-color: white;
    border-radius: 10%;
    padding: 2%;
    
}

.square-container img{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 90%; 
    height: 90%;

}

.course-name{
    position: absolute;
    top: 60%;
    left: 10%;
}
