.course-content-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
}

.back-btn {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
}

.cc-nav {
  flex-basis: 15%;
  max-height: 100vh;
  border: 1px solid black;
  overflow-y: auto;
  overflow-x: hidden;
}

.back-btn, .nav-lesson, .nav-quiz {
  padding: 10px;
}


.cc-content {
  flex-basis: 85%;
  border: 1px solid black;
  overflow-y: auto;
}

.content-header, .content-body, .content-carousel {
  padding: 20px;
}

:where(.css-dev-only-do-not-override-1hpnbz2).ant-carousel .slick-prev, :where(.css-dev-only-do-not-override-1hpnbz2).ant-carousel .slick-next {
  background-color: black;
    border-radius: 5px;
    color: white;
    font-size: 6em;
    opacity: 1;
}

:where(.css-dev-only-do-not-override-5wsri9).ant-carousel .slick-list  {
  vertical-align: middle;
}