
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    margin: 0 auto;
    color: #213547;
    background-color: #f9f9f9;
}

* {
    box-sizing: border-box;
}


/*SECTION 1: PAYMENT*/
/*PART 1: Form to get the Credit Card's information*/
.paymentpage {
    margin-top: 100px;
    display: flex;

    align-items: center;
    justify-content: center;
}

.payment_form {
    border-radius: 12px;
    background-color: #fff;
    max-width: 600px;
    padding: 32px;
    border: 1px solid #000000;
    display: grid;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.label_payment {
    display: block;
    margin: 10px 0px 4px; /*Top Right-Left Bottom*/
    color: #0D0C22;
    font-size: 1.4em;
    font-weight: 500;
}

.input_payment, .select_payment {
    height: 52px;
    width: 100%;
    padding: 18px 20px; /*top-bot and right-left*/
    transition: outline 200ms ease, box-shadow 200ms ease;
    border: 2px solid #6b7280;
    border-radius: 12px;
    font-size: 16px;
}

.input_payment:focus,
.select_payment:focus {
  border: 1px solid #000;   
  outline: 4px solid rgba(0,0,0,.1);
}

/* Define element in Select boxes */
.select_payment {
    padding: 0 20px;
  }
    
/* Define the position for Ex.Date and CVV */
.filled_group {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 24px;
}
    
  /* Define for the Expiration Date */
.filled_date {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

/*Confirm Button*/
.button_confirm {
    margin-top: 30px;
    height: 52px;
    width: 100%;
    border: 2px solid #6b7280;
    border-radius: 12px;
    padding: 0.6em 1.2em;
    font-size: 1.5em;
    font-weight: 500;
    font-family: inherit;
    background-color: #49bbbd;
    color: #fff;
    cursor: pointer;
    transition: border-color 0.25s;
    display: flex;
    justify-content: center;
}
.button_confirm:hover {
    border-color: #000;
    color: #000;
    font-size: 1.5em;

}
/*-----------------------------------------*/

/*PART 2 nè*/
.cart {
    margin-left: 40px;
    width: 400px;
}

.payment_card_header {
    color: #0D0C22;
    font-size: 1.4em;
    font-weight: 500;
}

.payment_cart {
    border-radius: 12px;
    background-color: #ebf5ff;
    padding: 20px;
    border: 1px solid #000000;
}

.payment_course {

    display: flex;
    gap: 12px;
    padding-top: 5px;
    align-items: center;
}

img {
    border-radius: 12px;
}

.course_in4 {
    max-width: 300px;
}

.course_name {
    font-weight: 500;
    font-size: 17px;
}

.lecturer {
    font-size: 1.2em;
}

.price {
    font-weight: 500;
    font-size: 20px;
}

.totalmoney {
    font-size: 18px;
    width: 100%;
}

.cart_element {
    display: flex;
}

    .left {
        width: 30%;
    }

    .right {
        width: 70%;
        display: inline-flex;
        justify-content: end;
    }
        .value {
            padding-right: 5px;
        }

        .unit {
            display: grid;
            justify-content: end;
        }

    .total {
        font-weight: 600;
        font-size: 20px;
    }

/*-----------------------------------------*/


/* SECTION 2: OFFERS LIST */
.offers {
    padding-top: 100px;
    width: 1900px;
    padding-left: 25%;
}

/*PART 1: OFFERS HEADER*/
.title {
    width: 100%;
    display: flex;
    align-items: center;
}

.header_offers {
    width: 90%;
    font-size: 30px;
    font-weight: 500;
}

.see_all {
    width: 10%;
    font-weight: 500;
    font-size: 18px;
    display: inline-flex;
    justify-content: end;
}

.a_payment {
    color: #49bbbd;
}

/*PART 2: OFFERS LIST*/
.deals {
    display: flex;
    padding-top: 20px;
    gap: 40px;
}

.deals_card {
    width: 340px;
    height: 300px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.deals_value_box {
    width: 100px;
    height: 100px;
    font-size: 40px;
    font-weight: 700;
    background-color: #49bbbd;
    border-radius: 12px;
    display: flex;
    justify-content: center;
}

.deals_value {
    display: flex;
    align-items: center;
}

.deals_title {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    padding-top: 15px;
}

.deals_subtitle {
    color: #fff;
    font-size: 1.25em;
    font-weight: 400;
    padding-top: 15px;
    text-align: justify;


}